{% extends 'base.html' %}

{% load static %}

{% block navbar %}
{% endblock %}

{% block content %}
<div id="phone" v-cloak>
    <div class="col-md-12 col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Phone info</h4>
                    <form v-on:submit.prevent="addPhone">
                        <div class="form-group">
                            <label>Contact</label>
                            <select class="form-control" v-model="newPhone.contact">
                                <option v-for="item in contacts" :key="item.id">[[ item.id ]]</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" class="form-control" v-model="newPhone.phone">
                        </div>
                        <div class="form-group">
                            <label>Phone Type</label>
                            <select class="form-control" v-model="newPhone.phone_type">
                                <option>Home</option>
                                <option>Mobile</option>
                                <option>Work</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1"
                                    v-model="newPhone.primary">
                                <label class="custom-control-label" for="customCheck1">Primary</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
            </div>
        </div>
    </div>

    <hr>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Contact</th>
                <th scope="col">Phone</th>
                <th scope="col">Phone Type</th>
                <th scope="col">Primary</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in phones" :key="item.id">
                <th scope="row">[[ item.id ]]</th>
                <td>[[ item.contact ]]</td>
                <td>[[ item.phone ]]</td>
                <td>[[ item.phone_type ]]</td>
                <td>[[ item.primary ]]</td>
                <td>
                    <a href="#" data-toggle="modal" data-target="#editPhoneModal" class="btn btn-warning btn-circle "
                        title="Edit" v-on:click="fetchPhone(item.id)">
                        <i class="fas fa-pen"></i>Update
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Edit Phone Modal-->
    <div class="modal fade" id="editPhoneModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Phone Info</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form v-on:submit.prevent="updatePhones">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="">Contact</label>
                                    <select class="form-control" v-model="currentPhone.contact">
                                        <option v-for="item in contacts" :key="item.id">[[ item.id ]]</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    <label class="d-block" for="">Phone</label>
                                    <div class="form-check form-check-inline">
                                        <input type="text" class="form-control" v-model="currentPhone.phone">
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    <label class="d-block" for="">Phone Type</label>
                                    <div class="form-check form-check-inline">
                                        <input type="text" class="form-control" v-model="currentPhone.phone_type">
                                    </div>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="col-4">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1"
                                                v-model="currentPhone.primary">
                                            <label class="custom-control-label" for="customCheck1">Primary</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1"
                                            v-model="currentPhone.active_status">
                                        <label class="custom-control-label" for="customCheck1">Active</label>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <template v-if="saving">
                            <button type="submit" class="btn btn-primary d-block ml-auto" disabled><i
                                    class="fa fa-spinner fa-spin"></i>
                                Saving Address</button>
                        </template>
                        <template v-else>
                            <button type="submit" class="btn btn-primary d-block ml-auto">Edit Address</button>
                        </template>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>



{% endblock %}

{% block api %}
<script src="{% static 'src/phone.js' %}"></script>
{% endblock %}